.left-enter {
    /* opacity: 0; */
    transform: translateX(0);
  }
  
  .left-enter.left-enter-active {
    /* opacity: 1; */
    /* transform: translateX(0); */
    transition: all 500ms ease;
  }
  
  .left-exit {
      transform: translateX(0);
      /* left: 0px; */
    }
    
    .left-exit.left-exit-active {
        /* left: 100px; */
        transform: translateX(-100%);
        transition: all 500ms ease;
  }
