.tile {
    overflow: hidden;
    width: 100%;
  }
  .card {
    align-items: center;
    display: flex;   
    flex-direction: row;
    font-size: 1.7em;
    font-weight: 600;
    height: 100%;
    padding: 10px;
    text-transform: capitalize;
    width: 100%;
  }
  