.tile {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* background: #000; */
    border: 1px solid red;
}
.card {
    align-items: center;
    display: flex;   
    flex-direction: row;
    font-size: 1.7em;
    font-weight: 400;
    height: 100%;
    text-transform: capitalize;
    width: 100%;
    border: 1px solid blue;
}
.next {
border: 1px solid rebeccapurple;
}

/* 
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}
.slide-enter {
    opacity: 0;
    transform: scale(0) translateY(0);
    z-index: 1;
  }
  .slide-enter.slide-enter-active {
      opacity: 1;
      transform: scale(1) translateY(0);
      transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
  }
  
  .slide-exit {
      opacity: 1;
      transform: scale(1) translateY(0);
      
  }
  .slide-exit.slide-exit-active {
      opacity: 0;
      transform: scale(0.97) translateY(100px);
      transition: opacity 1500ms linear, transform 1500ms ease-out;
  }
  .slide-exit-done {
    opacity: 0;
  }
  .text {
    max-width: 90%;
    padding: 10px;
    text-shadow: 0 0.025em 0 rgba(0,0,0,0.1);
    word-wrap: break-word;
  } */
