.text {
    max-width: 90%;
    text-shadow: 0 0.025em 0 rgba(0,0,0,0.1);
    word-wrap: break-word;
  }
  
  #cursor {
    animation: blink .7s steps(1) infinite;
    border-left: 2px solid #fff;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .fade-in {
    opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-duration: 2s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
      }
      100% {
      opacity: 1;
      }
  }